body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
}
header {
  background-color: #735DA5;
  color: #D3C5E5;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}
.howto {
  border-bottom: 2px #d0d0d0;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  padding: 20px;
}


.side-photo {
  width: 50%;
  height: auto;
  border-radius: 10px;
}
#articletitle {
  margin-top: 10%;
  font-size: xx-large;
  color: #000000;
}
#articleinfo {
  margin-top: 1%;
  font-size: x-large;
  color: grey;
}
/* Desktop layout */
@media only screen and (min-width: 768px) {
  .howto {
    display: flex;
  }


  .content {
    flex: 1;
  }


  .side-photo {
    flex: 1;
  }
}


/* Mobile layout */
@media only screen and (max-width: 767px) {
  .howto {
    display: block;
  }
}


/* Set a custom font for the entire page */
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}


/* Style the header */
header {
  background-color: #D3C5E5;
  color: #735DA5 ;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}
#Logoimg {
  height: 100px;
  width: 100px;
}


/* Style the navigation menu */
header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

/* Style the navigation menu */
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  content: center;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  position: relative; /* Add this to position the line */
}


nav li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Initial width of the line */
  height: 2px; /* Height of the line */
  background-color: #ffffff; /* Color of the line */
  transition: width 0.3s ease-in-out; /* Transition width */
}


nav li:hover::after {
  width: 100%; /* Width of the line on hover */
}

nav a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  padding: 2px;
}




/* Style the article */
article {
  margin-top: 2rem;
  margin-bottom: 2rem;
}


article p {
  line-height: 1.5;
  margin: auto;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-shadow: 0 0 300px rgba(124, 122, 122, 0.5);
  padding: 8px;
  border-radius: 15px;
}


/* Responsive styles */
@media only screen and (max-width: 414px) {
  header h1 {
    font-size: 1.5rem;
  }


  nav ul {
    flex-direction: column;
    margin-top: 0.5rem;
  }


  nav li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }


  main {
    flex-direction: column;
  }


  section {
    margin-right: 0;
    margin-bottom: 2;
  }


  article {
    margin-bottom: 2rem;
    border-bottom: 0px;
  }


  nav a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }


  nav ul li {
    border-right: 0px solid rgb(0, 0, 0);
    padding: 0 10px;
  }


  nav ul li:last-child {
    border-right: none;
  }


  section {
    padding: 40px;
    flex: 3;
    margin-right: .5rem;
  }
}
